body{
  background-image: url("background.jpg");
  background-size:cover;
}

.Container{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1000px;
  font-size: 12px;
}

.logolim{
  margin-top: 75px;
  align-content: center;
  width: 200px;
}

.subtitle{
  color: #00ff00;
  margin-top: auto;
  margin-bottom: auto;
  width: 1000px;
  font-size: 27px;
}

.boxed {
  background-color:#00ff00;
  width: 50;
  border: 1px #00ff00;
  padding: 15px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 100px;
  margin-right: 70px;
}

.Card{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px;
  width: 1000px;
  height: 650px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

main{
  text-align: left;
  color: white;
  margin-top: 25px;
}

.distanza, .distanza2, .distanza3{
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.row1, .row2, .row3{
  padding: 1px;
  margin-left: 100px;
}

#giallo {
  background-color: yellow;
  color: yellow;
  border-radius: 3px;
  margin-right: 700px;
}

#verde {
  background-color: green;
  color: green;
  border-radius: 3px;
  margin-right: 500px;
}

#rosso {
  background-color: red;
  color: red;
  border-radius: 3px;
  margin-right: 700px;
}
